/*
 * BSD 3-Clause License
 *
 * Copyright (c) 2023, pierrick
 * All rights reserved.
 */

/**
 * === POSITION OF THE GALLERY ===
 */
 .positionOfGallery {
	position: absolute;
	top: 20%;
	left: 20%;
}

/**
 * === SIZE OF THE GALLERY ===
 * 
 * For full screen mode ==> width: 98%; height: 95%;
 * Sub elements of the gallery resize automatically.
 */
.sizeOfGallery {
	width: 58%;
	height: 55%;
}

/**
 * === Decorations of the gallery ===
 * 
 * Change them according to the design of your web site
 */
.decorationGallery {
	background-color: #0000001f;
	border-radius: 20px;
}

/**
 * === BODY === 
 */

 body, html {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../img/utils/background.jpg");
	background-repeat: repeat;
	background-size: cover;
}

/**
 * === ALL OTHER ELEMENTS OF THE GALLERY ===
 * ===    MODIFY THEM IS UP TO YOU ;)    ===
 */


/** 
 * gallery 
 */
.simple-gallery {
	padding: 1%;

	text-align: center;
}

/**
 * title
 */
.simple-gallery-title {
	position: relative;

	font-size: 1.5em;
	margin: 0;
}

/** 
 * thumbnails
 */
.simple-gallery-thumbnails {
	position: sticky;
	top: 100vh;
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
	justify-content: space-around;

	width: 96%; 
	height: 15%;

	padding-bottom: 1%;

	overflow-y: hidden; /* Allow horizontal scroll if there are more images than screen width available */
	overflow-x: scroll;
}

/**
 * thumbnails img 
 */
.simple-gallery-thumbnails img {		/* Thumbnails images, style and size */
	width: auto;
	height: auto;

	height: 60%;

	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #444343;

	margin-top: auto;
	margin-bottom: auto;
}

/** 
 * thumbnails img:hover
 */
.simple-gallery-thumbnails img:hover {		/* Add a shadow around thumbnails */
	box-shadow: 5px 5px 5px #444343;
}

/** 
 * images img
 */
.simple-gallery > img {
	display: none;

	width: auto;
	height: auto;
}

/**
 * Display current image in full screen 
 * ==> remove .defaultView before !
 */
.fullScreenView {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);

	max-width: 100vw;
	max-height: 100vh;

	box-shadow: unset;
	border-width: 0;
	border-radius: 0;
}

/**
 * Display image in default view 
 * ==> remove .fullScreenView before !
 */
.defaultView {
	position: relative;
	top: 0;

	padding: 1%;

	max-height: 76%; /* To change the size of the main image in default mode */
	max-width: 76%;

	border-radius: 20px;
   	border-style: solid;
   	border-width: 1px;
   	border-color: #444343;

	box-shadow: 10px 10px 10px #444343;

	background-color: #ffffff90;

	cursor: pointer;
}

/**
 * arrows
 */
.simple-gallery-arrows {	/* The arrows to change current image (left and right) */
	position: relative;
	
	width: 8%;
	height: auto;

	top: 10vh;

	cursor: pointer;

	z-index: 1000;
}

/**
 * left arrow
 */
.simple-gallery-left-arrow {	
	float: left;
}

/**
 * right arrow
 */
.simple-gallery-right-arrow {	
	float: right;
}

.cursorDefault {
	cursor: default;
}

.cursorPointer { /* clickable cursor */
	cursor: pointer;
}

.shadow {
	box-shadow: 5px 5px 5px #444343;
}

.backgroundBlack {	/* Background in black for full screen view */
	background-color: black;
	background-image: url("");
}